<input type="radio" id="showComponentA" name="showComponent"
value="componentA" (change)="displayComponent('componentA')" />
<label for="showComponentA">Component A</label>

<input type="radio" id="showComponentB" name="showComponent"
value="componentB" (change)="displayComponent('componentB')" />

<label for="showComponentB">Component B</label>

<input type="radio" id="showComponentC" name="showComponent"
value="componentC" (change)="displayComponent('componentC')" />

<label for="showComponentC">Component C</label>

<ng-template appDcd></ng-template>
